a{
	text-decoration: none;
}
ul{
	list-style: none;
}

*{
	margin: 0;
	padding: 0;
	color: #333;
}

body{
	font-size: 14px;
	background-color: #f5f6f7;
}

.content{
	margin: 0 100px;	
}

main{
	float: left;
	width: 73%;
	height: auto;
	padding: 10px 30px 100px 30px;
    border: 1px solid red;
	box-sizing: border-box;
    background: #fff;
}

.main-div{
    box-sizing: border-box;
	width: 100%;
	display: block;
	overflow: auto;
}

aside{
  width: 25%;
  padding: 16px;
  display: block;
  float: right;
  box-sizing: border-box;
  background-color: #fff;
}

.aside-li{
	width: 100%;
	height: 50px;
	line-height: 50px;
	background-color: #5f3737;          
	border-bottom: 1px solid #123;
}

.bloglist{
	margin-top: 20px;
	border: 1px solid #ddd;
	border-radius: 3px;
}

.title{	
	padding: 5px 10px;
	font-size: 120%;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom: 1px solid #ddd; 
	line-height: 40px;	
	background-color: #f5f5f5;
}

.blogs-a{
	float: right;
}

.blogs-a span:hover{
	color: red;
}

.message{
	padding: 5px 10px;	
	line-height: 30px;
}

.blog-content{
	text-align: center;
}

.blog-a{
	text-align: center;
	margin-bottom: 30px;
}

.blogtype-a{
	border:1px solid #ddd;
	border-radius: 4px;
}

.aside-title{
	line-height: 60px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	font-size: 140%;
	border-bottom: 1px solid #ddd;
	text-align: center;
	background-color: #f5f5f5;
}

.aside-content{
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom: 1px dashed #ddd;
	line-height: 40px;
	text-align: center;

}

.blog-b{
	padding: 0 5px;
	display: inline-block;
}

.blog-b span:hover{
	color: red;
}


/* error样式 */

.error-a{
	padding: 40px 60px;
}
