{% extends 'blog/base.html' %}
{% load static %}

{% block title %} {{ blog.title }} {% endblock %}

{% block head_extends %}
<link rel="stylesheet" href="{% static 'css/monokai.css' %}">
{% endblock %}

{% block body %}
<div class="containner-fluid" role="navigation">
  <div class="panel panel-success">
    <div style="overflow: auto;">
      <div class="panel-body text-center">
        <h3>{{ blog.title }}</h3>
        <small>
          分类：<a href="{% url 'blog:blogtype' blog.blogtype.id %}">
          {{ blog.blogtype.title }}</a>&nbsp&nbsp&nbsp&nbsp
          阅读次数：{{ blog.views }}&nbsp&nbsp&nbsp&nbsp
          获得点赞：{{ blog.stars }}&nbsp&nbsp&nbsp&nbsp
          <span class="hidden-md hidden-lg"><br></span>
          发表于：{{ blog.created_time | date:'Y-m-d H:i' }}
        </small>
      </div>
      <hr style="padding:0;margin:0">
      <div class="panel-body">
        <p>{{ blog.content|safe }}</p>
        <hr>
      </div>
      <div class="panel-body text-center">感谢您的阅读</div>
    </div>
  </div>
</div>

{% endblock %}
