{% extends 'blog/base.html' %}

{% block title %} 分类 {% endblock %}

{% block content %}
<div class="hidden-md	hidden-lg	 col-xs-12 col-sm-12">
  <div class="panel panel-success">
    <div class="panel-heading text-center">
      <span class="panel-title">分类</span>
    </div>
    <div class="panel-body text-center">
      <a href="{% url 'blog:blogs' %}">全部({{ blog_count }})</a>
    </div>
    <hr style="padding:0;margin:0">
    {% for blogtype in blogtypes %}
    <div class="panel-body text-center">
      <a href="{% url 'blog:blogtype' blogtype.id %}">{{ blogtype.title }}
        ({{ blogtype.blog_count }})</a>
    </div>
    <hr style="padding:0;margin:0">
    {% empty %}
    <div class="panel-body text-center">
      暂无分类
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}