{% extends 'base.html' %}
{% load static %}
{% block title %} ZBLOG | ERROR {% endblock %}




{% block content %} 
<div class="container-fluid text-center" style="with:100%;">
	<pre style="line-height: 1.25; white-space: pre; font-size: 120%;background-color: #222222;color: #fff;">


______________________________
|\                           /|
| \                         / |
|  \                       /  |
|   ]                     [   |
|   ]                     [   |
|   ]___     ERROR      __[   |
|   ]  ]\             /[  [   |
|   ]  ] \           / [  [   |
|   ]  ]  ]         [  [  [   |
|   ]  ]  ]__     __[  [  [   |
|   ]  ]  ] ]\ _ /[ [  [  [   |
|   ]  ]  ] ] |_| [ [  [  [   |
|   ]  ]  ]_]/   \[_[  [  [   |
|   ]  ]  ]         [  [  [   |
|   ]  ] /           \ [  [   |
|   ]__]/             \[__[   |
|   ]                     [   |
|   ]                     [   |
|   ]                     [   |
|  /                       \  |
| /                         \ |
|/___________________________\|


</pre>
</div>
{% endblock %} 	