{% load static %}
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>我的主页</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
  <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>

</head>

<body>

<div class="jumbotron" style="background-color: #23d8a6f2; ">
  <div class="container">
    <div class="pull-right">
      {% if user.is_authenticated %}
      <div class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
           aria-expanded="false">{{ user.username }} <span class="caret"></span></a>
        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
          {% if user.is_staff or user.is_superuser %}
          <li><a href="{% url 'admin:index' %}" target="_blank">后台管理</a></li>
          {% endif %}
          <li><a href="{% url 'users:logout' %}">退出</a></li>
        </ul>
      </div>
      {% else %}
      <a href="{% url 'users:login' %}">登录</a> |
      <a href="{% url 'users:register' %}">注册</a>
      {% endif %}
    </div>
    <div class="page-header text-center">
      <h1>光着脚丫子的鱼<span class="hidden-xs hidden-xm">◀◘┼┼┼◀ </span></h1>
    </div>
    <h2 class="pull-right" style="color: #777;">我的学习网站</h2>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-6 col-md-3">
      <div class="thumbnail">
        <a href="{% url 'blog:blogs' %}" target="_blank">
          <img src="{% static 'img/blog.jpg' %}" alt="我的博客">
        </a>
        <div class="caption">
          <h4>我的博客</h4>
          <p>发布一些自己学习的心得，欢迎一起学习。</p>
          <p><a href="{% url 'blog:blogs' %}" target="_blank" class="btn btn-primary" role="button">查看</a>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-md-3">
      <div class="thumbnail">
        <a href="https://github.com/FFYFYY" target="_blank">
          <img src="{% static 'img/github.jpg' %}" alt="我的Github">
        </a>
        <div class="caption">
          <h4>我的Github</h4>
          <p>发布一些自己学习的心得，欢迎一起学习。</p>
          <p><a href="https://github.com/FFYFYY" target="_blank" class="btn btn-primary" role="button">查看</a>
        </div>
      </div>
    </div>
  </div>
</div>
</body>